<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to My Site</h2>
    <p>Only hardworkers allowed!!</p>

    <a href="/" class="btn btn-lg btn-primary">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Home Page
</div>
